@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dce2e7;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.search .input {
  background: linear-gradient(to top, #ffffff, #eeeeee);
  border-radius: 50%;
  color: #b7c0ca;
  cursor: pointer;
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  border:none;
  height: 30px;
  width: 30px;
  transition: width 0.5s ease;
}
.search .input::placeholder {
  opacity: 0;
}
.search.active .input {
  width: 200px;
  border-radius: 50px;
  padding: 0 10px;
}
.search.active .input::placeholder {
  opacity: 1;
}
.reset {
  border: 0;
  background: transparent;
  /* padding: 15px 5px; */
  transform: rotate(45deg) translateY(18px) translateX(10px);
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.05);
 
}
.handle {
  border: 0;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(to top, #ffffff, #eeeeee);
}
.search.active .reset {
  transform: rotate(-45deg) translateY(12px) translateX(10px);
  cursor: pointer;
}
.search .handle:after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background:linear-gradient(to top, #ffffff, #eeeeee);;
  transition: all 0.3s ease;
}
.search.active .handle:after {
  transform: rotate(90deg);
  /* transition: all 0.3s ease; */
}

#weatherbox {
  width: 300px;
  border: solid 2px white;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#weatherbox .icon {
  width: 130px;
  object-fit: contain;
}
#weatherbox .tempature {
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
  color: #35364A;
}
#weatherbox .description {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  color: #6a6c7b;
}
#weatherbox .weatherpic {
  position: relative;
  width: 100%;
  height: 80px; /* 可以根据需要调整 */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}
#weatherbox .weatherpic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 黑色半透明蒙层 */
  z-index: 1;
}
#weatherbox .weatherpic span {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
